@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@font-face {
  font-family: 'specialFont';
  src: url('./special_txt.ttf');
}

*{
  font-family: roboto;
}

:root {
  --text-color: #202020;
  --sec-text-color: #ffffff;
  --hover-color: #12f7ff;
  --bg-color: #ffffff;
  --sec-bg-color: #e6e3e3;
  --tre-bg-color: #162129;
  --big-font:2.5rem;
  --normal-font:2rem;
  --neo-box-shadow:0 0 .5rem #12f7ff;
  --font-neo-text-shadow:0 0 10px rgba(18,247,255,0.3),
  0 0 20px rgba(18,247,255,0.3),
  0 0 30px rgba(18,247,255,0.3),
  0 0 40px rgba(18,247,255,0.3),
  0 0 70px rgba(18,247,255,0.3),
  0 0 80px rgba(18,247,255,0.3),
  0 0 100px rgba(18,247,255,0.3),
  0 0 150px rgba(18,247,255,0.3);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #162129;
    --sec-bg-color: #132232;
    --text-color: #ffffff;
    --tre-bg-color: #ffffff;
    --sec-text-color: #060505;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color)
}
.sec-bg{
  background-color: var(--sec-bg-color);
}
.prim-bg{ background-color: var(--bg-color);}

.titre{
   font-family: specialFont;
}
.sec-text-color{color: var(--sec-text-color)}
.tre-bg-color{background-color: var(--tre-bg-color);}
.bg-3{text-decoration: none;}
.bg-3:hover{background-color: var(--tre-bg-color); color: var(--sec-text-color);}

.liste li span{
  position: relative;
  
}
.liste li{
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 12s steps(5) infinite;
}

@keyframes slide {
  100%{
    top: -140px;
  }
}
@media (min-width: 768px) {
  .md\:liste li{
    list-style: none;
    position: relative;
    top: 0;
    animation: slide2 12s steps(5) infinite;
  }
  
  @keyframes slide2 {
    100%{
      top: -200px;
    }
  }
}

.navigation{
  text-decoration: none;
}
.navigation:hover{
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18,247,255,0.6),
  0 0 20px rgba(18,247,255,0.6),
  0 0 30px rgba(18,247,255,0.6),
  0 0 40px rgba(18,247,255,0.6),
  0 0 70px rgba(18,247,255,0.6),
  0 0 80px rgba(18,247,255,0.6),
  0 0 100px rgba(18,247,255,0.6),
  0 0 150px rgba(6, 238, 246, 0.6);
}
.primarri-coor-text{
  color: #12f7ff;
}